.hero-section {
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.p_1{
    color: gray;
    font-size: 16px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.navbar_color{
    background: #3b5d50;
}
.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .nav-link.active,.nav-item .navbar-dark .nav-link:hover {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}
.crafted-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.crafted-section p {
    font-size: 1rem;
    margin-top: 1rem;
}

.crafted-section .btn-dark {
    font-size: 1rem;
    padding: 10px 20px;
}

.crafted-section img {
    max-width: 100%;
    height: auto;
}

.crafted-section h5 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.crafted-section p strong {
    font-size: 1.2rem;
}
.why-choose-us {
    background-color: #f9fafc;
}

.icon-box {
    display: flex;
    align-items: center;
}

.icon-box .icon {
    font-size: 2rem;
    color: #5a5a5a;
}

.icon-box h5 {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.icon-box p {
    margin-bottom: 0;
    color: #6c757d;
}
